---
---

@import 'main';

#sidebar .profile-wrapper {
  display: none !important;
}

#sidebar .site-title {
  margin-top: 0 !important;
}

body,
#sidebar,
#sidebar a,
.categories a,
#page-category a,
#page-tag a,
h1,h2,h3,h4,h5,h6 {
  font-family: "Noto Sans JP", sans-serif !important;
}

#sidebar .sidebar-bottom a:not(#mode-toggle) {
  display: none !important;
}

footer a {
  pointer-events: none !important;
  cursor: default !important;
  text-decoration: none !important;
  color: inherit !important;
}

footer em,
footer .site-info,
footer .site-info a {
  display: none !important;
}